<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Engines - Chess Engine League</title>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div class="container">

        <div>
            <h3><a href="/gui/engines/newHybrid">New Hybrid engine</a></h3>
        </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Host</th>
                    <th>Last connected</th>
                    <th>Online</th>
                    <th>Active game</th>
                </tr>
                <tr th:each="engine: ${engines}">
                    <td><a th:href="${'/gui/engines/'+ engine.id}" th:text="${engine.id}"/></td>
                    <td><a th:href="${'/gui/engines/'+ engine.id}" th:text="${engine.name}"/></td>
                    <td th:text="${engine.type}">engine type</td>
                    <td th:text="${engine.host}">some host+ domain</td>
                    <td th:text="${engine.lastConnected}"></td>
                    <td><th:block th:if="${engine.online}">✔</th:block></td>
                    <td><th:block th:if="${engine.game != null}">
                            Playing game <a th:href="${'/gui/games/'+ engine.game.id}" th:text="${engine.game.id}"/> 
                            in match <a th:href="${'/gui/matches/'+ engine.match.id}" th:text="${engine.match.id}"/>
                    </th:block></td>
                </tr>
            </table>    


        </div>
    </body>
</html>
