<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Matches - Chess Engine League - Central Server</title>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div>
            <a href="/gui/matches/new">New Match</a>
        </div>
        <div class="container bg-secondary text-white">

            <table>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
                <tr th:each="match: ${matches}">
                    <td><a th:href="${'/gui/matches/' + match.id}" th:text="${match.id}"/></td>
                    <td><a th:href="${'/gui/matches/' + match.id}" th:text="${match.state}"/></td>
                    <td th:text="${match.result}" />
                </tr>
            </table>    


        </div>
    </body>
</html>
