<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Match [[${match.id}]] - Chess Engine League</title>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div class="container bg-secondary">
            Match:
            <p >ID</p>
            <p th:text="${match.id}" />
            <p >Status</p>
            <p th:text="${match.result}" />
            
            Games:
            <table>
                <tr>
                    <th>ID</th>
                    <th>Result</th>
                </tr>
                <tr th:each="game:${games}">
                    <td><a th:href="${'/gui/games/' + game.id}"th:text="${game.id}"/></td>
                    <td><a th:href="${'/gui/games/' + game.id}" th:text="${game.result}"/></td>
                </tr>
            </table>    


        </div>
    </body>
</html>
