<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Game [[${game.id}]] - Chess Engine League</title>
        <script src="/static/chessboardjs/js/chessboard-1.0.0.js"></script>
        <link rel="stylesheet"  href="/static/chessboardjs/css/chessboard-1.0.0.css" />
        <style type="text/css">
            #moveList td.selected {
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div class="contain">
            <table>
                <tr>
                    <th>Game ID</th>
                    <th>Result</th>
                    <th>Reason</th>
                    <th>Time per move (ms)</th>
                </tr>
                <tr>
                    <td th:text="${game.id}" />
                    <td th:text="${game.result}" />
                    <td th:text="${game.reason}" />
                    <td th:text="${match.config.timePerMoveMs}" />
                </tr>
            </table>

            <table>
                <tr>
                    <th rowspan="2">Side</th>
                    <th colspan="2">player/engine</th>    
                </tr>
                <tr>
                    <th>id</th>
                    <th>description</th>
                    <th>configuration</th>
                    <th>total used time(ms)</th>
                </tr>
                <tr>
                    <td>White</td>
                    <td th:text="${white.id}"/>
                    <td th:text="${white.engine.name}"/>
                    <td th:text="${white.description}" />    
                    <td th:text="${whiteTimer}" />   
                </tr>
                <tr>
                    <td>Black</td>
                    <td th:text="${black.id}"/>
                    <td th:text="${black.engine.name}"/>
                    <td th:text="${black.description}" />    
                    <td th:text="${blackTimer}" />   
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-8">
                    <div id="myBoard"></div>
                    <div class="row">
                        <div class="col-sm-1">
                            <a href="#" onclick="first();return false">&lt;&lt;</a>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="previous();return false">&lt;</a>
                        </div>
                        <div class="col-sm-2">
                            move selector
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="next();return false">&gt;</a>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="last();return false">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p >Moves</p>
                    <p id="moveInfo" />
                    <table id="moveList">
                        <tr>
                            <th>#</th>
                            <th>white</th>
                            <th>black</th>
                            <th>#</th>
                            <th>white</th>
                            <th>black</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            var fenList = /*[(${fenListJson})]*/ ['f2f4'];
            var currentMove = 1;
            var board = Chessboard('myBoard', fenList[0]['fen']);
              // Get a reference to the table
            let tableRef = document.getElementById("moveList");
            function newCell(row, value, halfMove) {
                let newCell = row.insertCell();
                let newText = document.createTextNode(value);
                newCell.appendChild(newText);
                if(halfMove) {
                    newCell.setAttribute("data-halfmove", halfMove);
                }
            }
            for (var i = 1; i < fenList.length; i=i+4) {
                let newRow = tableRef.insertRow();
                for(var j=0;j<=1;j++) {
                    var halfMove = i+2*j;
                    var wholeMove = (halfMove+1)/2;
                    if(halfMove < fenList.length)  {
                        newCell(newRow, wholeMove);
                        newCell(newRow, fenList[halfMove]['move'], halfMove);
                        if(halfMove + 1<fenList.length) {
                            newCell(newRow, fenList[halfMove + 1]['move'], halfMove + 1);
                        }
                    }
                }
            }
            function updateMove() {
                let move = fenList[currentMove];
                board.position(move['fen'], false);
                $("#moveList td").removeClass("selected");
                $("#moveList td[data-halfmove="+currentMove+"]").addClass("selected");
                var text = "";
                if(move['ponder'] !== undefined) {
                    text = text + "expected opponent move="+move['ponder']+" ";
                }
                if(move['comment'] !== undefined) {
                    text = text + "comment="+move['comment'];
                }
                $("#moveInfo").text(text);
                return false;
            }
            function next() {
                if (currentMove < fenList.length -1 ) {
                    currentMove++;
                }
                return updateMove();
            }
            function previous() {
                if (currentMove > 1) {
                    currentMove--;
                }
                return updateMove();
            }
            function first() {
                currentMove = 0;
                return updateMove();
            }
            function last() {
                currentMove = fenList.length-1;
                return updateMove();
            }
        </script>
    </body>
</html>
