<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <th:block th:replace="layout :: header"></th:block>
        <title>Game [[${game.id}]] - Chess Engine League</title>
        <script src="/static/chessboardjs/js/chessboard-1.0.0.js"></script>
        <link rel="stylesheet"  href="/static/chessboardjs/css/chessboard-1.0.0.css" />
    </head>
    <body>
        <div class="container">
            <table>
                <tr>
                    <th>Game ID</th>
                    <th>Result</th>
                </tr>
                <tr>
                    <td th:text="${game.id}" />
                    <td th:text="${game.result}" />
                </tr>
            </table>

            <table>
                <tr>
                    <th rowspan="2">Strona</th>
                    <th colspan="2">gracz/silnik</th>    
                </tr>
                <tr>
                    <th>id</th>
                    <th>opis</th>
                    <th>konfiguracja</th>
                </tr>
                <tr>
                    <td>Białe</td>
                    <td th:text="${white.id}"/>
                    <td th:text="${white.agent.name}"/>
                    <td th:text="${white.description}" />    
                </tr>
                <tr>
                    <td>Czarne</td>
                    <td th:text="${black.id}"/>
                    <td th:text="${black.agent.name}"/>
                    <td th:text="${black.description}" />    
                </tr>
            </table>
            <div class="row">
                <div id="myBoard" class="col-sm-6">
                    <!--                    <div " style="width: 400px"></div>-->
                </div>
                <div class="col-sm-6">
                    <p >Ruchy</p>
                    <p th:text="${game.boardState}" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <a href="#" onclick="first();return false">&lt;&lt;</a>
                </div>
                <div class="col-sm-1">
                    <a href="#" onclick="previous();return false">&lt;</a>
                </div>
                <div class="col-sm-2">
                    move selector
                </div>
                <div class="col-sm-1">
                    <a href="#" onclick="next();return false">&gt;</a>
                </div>
                <div class="col-sm-1">
                    <a href="#" onclick="last();return false">&gt;&gt;</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            var fenList = /*[(${fenList})]*/ ['f2f4'];
            var currentMove = 1;
            var board;
            if (fenList.length > 0) {
                board = Chessboard('myBoard', fenList[0]);
            } else {
                board = Chessboard('myBoard');
            }
            function next() {
                if (currentMove < fenList.length) {
                    currentMove++;
                }
                board.position(fenList[currentMove - 1], false);
                return false;
            }
            function previous() {
                if (currentMove > 1) {
                    currentMove--;
                }
                board.position(fenList[currentMove - 1], false);
                return false;
            }
            function first() {
                currentMove = 1;
                board.position(fenList[currentMove - 1], false);
                return false;
            }
            function last() {
                currentMove = fenList.length;
                board.position(fenList[currentMove - 1], false);
                return false;
            }
        </script>
    </body>
</html>
