<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Tournaments - Chess Engine League - Central Server</title>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div>
            <h3><a href="/gui/tournaments/new">New Tournament</a></h3>
        </div>
        <div class="container bg-secondary text-white">

            <table>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                <tr th:each="tournament: ${tournaments}">
                    <td><a th:href="${'/gui/tournaments/' + tournament.id}" th:text="${tournament.id}"/></td>
                    <td><a th:href="${'/gui/tournaments/' + tournament.id}" th:text="${tournament.state}"/></td>
                </tr>
            </table>    


        </div>
    </body>
</html>
