<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout :: head"></th:block>
        <title>Tournament [[${tournament.id}]] - Chess Engine League</title>
    </head>
    <body>
        <div th:replace="layout :: navbar"></div>
        <div class="container bg-secondary">
            Tournament: <span />
            <table>
                <tr>
                    <th>Time per move (ms)</th>
                    <td th:text="${tournament.config.timePerMoveMs}" />
                </tr>
            </table>
            <p >Status</p>
            <p th:text="${tournament.state}" />
            <p>Participants</p>
            <table>
                <tr>
                    <th>description</th>
                    <th>configuration</th>
                    <th>tournament ELO</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Loses</th>
                    <th>Total games</th>
                </tr>
                <tr th:each="participant: ${participants}">
                    <td><a th:href="${'/gui/engines/'+ participant.player.engine.id}" th:text="${participant.player.engine.name+' ('+participant.player.engine.id+')'}"/></td>
                    <td th:text="${participant.player.description}" />                    
                    <td th:text="${participant.elo}" />
                    <td th:text="${participant.wins}" />
                    <td th:text="${participant.draws}" />
                    <td th:text="${participant.loses}" />
                    <td th:text="${participant.totalGames}" />
                </tr>
            </table>
            Matches:
            <table>
                <tr>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Status</th>
                    <th colspan="3">Player 1</th>                    
                    <th colspan="3">Player 2</th>
                </tr>
                <tr>
                    <th>Score</th>
                    <th>Engine</th>
                    <th>Configuration</th>
                    <th>Score</th>
                    <th>Engine</th>
                    <th>Configuration</th>
                </tr>
                <tr th:each="match: ${matches}">
                    <td><a th:href="${'/gui/matches/' + match.id}" th:text="${match.id}"/></td>
                    <td><a th:href="${'/gui/matches/' + match.id}" th:text="${match.state}"/></td>
                    <td th:text="${match.score1 / 2.0}"/>
                    <td><a th:href="${'/gui/engines/'+ match.player1.engine.id}" th:text="${match.player1.engine.name+' ('+match.player1.engine.id+')'}"/></td>
                    <td th:text="${match.player1.description+' ('+match.player1.id+')'}"/>
                    <td th:text="${match.score2 / 2.0}"/>
                    <td><a th:href="${'/gui/engines/'+ match.player2.engine.id}" th:text="${match.player2.engine.name+' ('+match.player2.engine.id+')'}"/></td>
                    <td th:text="${match.player2.description+' ('+match.player2.id+')'}"/>
                </tr>
            </table>    


        
        </div>
    </body>
</html>
